<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true"
        tools:ignore="UnnecessaryRequiredFeature" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NfcCommunicator"
        tools:ignore="DataExtractionRules">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <activity-alias
            android:name="dev.alsatianconsulting.nfcommunicator.MainActivity"
            android:targetActivity=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
 
        <activity-alias
            android:name="dev.alsatianconsulting.nfcommunicator.SignerActivity"
            android:targetActivity=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.greenart7c3.nostrsigner.MAIN_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="nostrsigner" />
            </intent-filter>
        </activity-alias>
 
        <provider
            android:name="dev.alsatianconsulting.NFCommunicator.SignerProvider"
            android:authorities="dev.alsatianconsulting.nfcommunicator.GET_PUBLIC_KEY;dev.alsatianconsulting.nfcommunicator.SIGN_EVENT;dev.alsatianconsulting.nfcommunicator.NIP04_ENCRYPT;dev.alsatianconsulting.nfcommunicator.NIP04_DECRYPT;dev.alsatianconsulting.nfcommunicator.NIP44_ENCRYPT;dev.alsatianconsulting.nfcommunicator.NIP44_DECRYPT;dev.alsatianconsulting.nfcommunicator.DECRYPT_ZAP_EVENT"
            android:exported="true" />
    </application>

</manifest>
